body{
  margin:0;
  padding: 0;

  background: #536976;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  

.box{
  width:450px;
  padding: 40px;
  text-align:center;
  margin:auto;
  margin-top:5%;
  color:white;
  font-weight: bold;

 
}
.box-img{
  border-radius: 50%;
  width:270px;
  height:200px;
}

#portfolioUpload{
  visibility: hidden;
}
.block {
  background: rgba(0, 0, 0,0.4);
  padding: 40px;
  margin-top: 50px;
  width:650px;
  text-align:center;
  color:white;
  align-content: center;
  margin-left: 30% ;
  


}
.port-image {
  margin: 20px auto;
  height:350px;
  width: 350px;

}
.portfolio-textbox{
  border-style: solid;
  border-width: medium; 
}

.portfolio-name{  
  text-align: center;

}

#skyline{
  background-image:url("../../assets/photos/skyline.jpg");
  background-color: #cccccc;
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#profilePhoto{  
  border-radius: 50%;
  width:270px;
  height:200px;
  margin-left:40px;
}

